@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Rubik', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.original-border {
  @apply px-2 py-2 border-slate-200 border rounded-md bg-transparent focus:border focus:border-slate-500 focus:ring-0 focus:outline-none
}

.card{
  @apply bg-transparent border-2 rounded-md;
  box-shadow: 0px 4px 18px 4px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 4px 18px 4px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 4px 18px 4px rgba(0,0,0,0.75);
}

.button-primary {
  @apply bg-indigo-700 text-white font-bold px-3 py-2 rounded-md focus:scale-95 transition duration-75 ease-in-out
  
}

.center {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
